@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

:root {
    --text-color: #3F372C;
    --text-heading-color: #3F262C;
    --object-background-color: #FFE7D2;
    --object-border-color: #3F372C;
}

/* general */

body {
    font-family: "open sans", arial, sans-serif;
    font-weight: 400;
    color: var(--text-color);
    margin: auto;
    max-width: 2560px;
}

h1,
h2,
h3,
h4 {
    font-family: "roboto condensed", arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--text-heading-color);
}

h3 {
    font-size: 300%;
    font-weight: 900;
    width: 60%;
    text-align: center;
    border-bottom: 3px solid var(--text-heading-color);
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

h4 {
    font-size: 180%;
    font-weight: 600;
}

a {
    text-decoration: none;
}

p {
    font-size: 140%;
    text-align: left;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    scroll-margin-top: 3vh;
}

.container>h3 {
    align-self: center;
    margin-bottom: 10px;
    padding: 15px 0;
}

/* background */

body {
    width: 100%;
    background-image: url('../images/website-background.webp');
    background-size: auto;
    background-position: center;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 5000px rgba(255, 255, 255, 0.7);
}

/* logo  */

header {
    background-color: var(--object-background-color);
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    font-size: 360%;
    font-weight: 800;
    letter-spacing: 10px;
    white-space: nowrap;
    padding: 15px 500px;
    border: 2px solid var(--text-heading-color);
}

#logo-slogan {
    position: relative;
    right: 500px;
    top: -15px;
    font-size: 20px;
    text-transform: lowercase;
    float: right;
    background-color: var(--object-background-color);
}

/* navigation menu */

#menu {
    display: flex;
    align-items: center;
    width: 100%;
    height: 56px;
    font-family: "roboto condensed", arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 150%;
    font-weight: 600;
    background-color: var(--object-background-color);
    color: var(--text-heading-color);
    position: sticky;
    top: 0;
    z-index: 1;
}

#menu ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 20px;
    list-style: none;
    gap: 20px;
}

#menu li {
    flex-grow: 1;
    width: 100%;
    text-align: center;
}

#menu a {
    display: flex;
    justify-content: center;
    color: var(--text-heading-color);
    width: 100%;
    padding: 6px 0;
    white-space: nowrap;
}

#menu i {
    margin-right: 16px;
}

/* nav menu animation */

#menu a:hover {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.4s;
}

#menu a:active {
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.1s;
}

/* hero image */

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
}

#hero-image {
    height: 800px;
    width: 100%;
    background-image: url('../images/hero-woodchips.webp');
    background-repeat: no-repeat;
    background-position: top left;
    transform-origin: top left;
    animation: hero-zoom 2s ease-in-out;
}

/* hero image animation */

@keyframes hero-zoom {
    from {
        transform: scale(1.3);
    }

    to {
        transform: scale(1);
    }
}

/* slogan on hero image */

#slogan-container {
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: space-evenly;
}

#slogan-container h2 {
    text-transform: lowercase;
    font-size: 600%;
    letter-spacing: 8px;
    padding-left: 3%;
    text-shadow: 1px 1px 0 var(--object-background-color), -1px -1px 0 var(--object-background-color), 1px -1px 0 var(--object-background-color), -1px 1px 0 var(--object-background-color);
}

/* blending in text for slogan on hero image */

#slogan-container {
    animation: blend-in 1s ease-in;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes blend-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* what we do & why we do it */

#what-we-do h3 span {
    font-size: 80%;
    margin: 0 5vw;
}

.what-why-caption {
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 3px solid var(--text-heading-color);
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

#what-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5vw;
    margin-top: 50px;
    width: 100%;
}

.what-inner-container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.what-text-box {
    flex-wrap: wrap;
    min-height: 260px;
    max-width: 500px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--object-background-color);
    box-shadow: 0 0 10px var(--object-border-color);
    border-radius: 10px;
}

#what-center-image {
    width: 500px;
    height: 500px;
    padding: 2px;
    border: 2px solid var(--object-border-color);
    border-radius: 2px;
    box-shadow: 0 0 10px var(--object-border-color);
    box-sizing: border-box;
}

#what-image {
    background-image: url(../images/joiner-working-together.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 100%;
}

/* about us */

#about-us-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 90%;
}

#about-us-text {
    height: fit-content;
    padding: 20px;
    margin-bottom: 50px;
    background-color: var(--object-background-color);
    box-shadow: 0 0 10px var(--object-border-color);
    border-radius: 10px;
}

#meet-the-team-caption {
    padding-bottom: 5px;
    margin-bottom: 30px;
    border-bottom: 3px solid var(--text-heading-color);
    box-shadow: 0px 25px 20px -20px rgba(0, 0, 0, 0.45);
}

#about-us-team-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.about-us-team-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    align-self: stretch;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    background-color: var(--object-background-color);
    box-shadow: 0 0 10px var(--object-border-color);
    border-radius: 10px;
}

.team-images {
    height: 360px;
    padding: 2px;
    border: 2px solid var(--object-border-color);
    border-radius: 2px;
    box-shadow: 0 0 10px var(--object-border-color);
    box-sizing: border-box;
}

.about-us-names {
    font-weight: 900;
    font-size: 140%;
}

/* about us meet the team image overlay */

.wrapper {
    position: relative;
}

.wrapper>img {
    display: block;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.content p {
    font-size: 160%;
    font-weight: 700;
    width: 250px;
    display: block;
    text-align: left;
}

.overlay {
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
    height: 0;
    transition: 0.5s ease;
    overflow: hidden;
}

.wrapper:hover .overlay {
    height: 352px;
}

/* gallery  */

#gallery-photos {
    clear: both;
    line-height: 20px;
    column-gap: 5px;
    column-count: 4;
    margin-top: 50px;
}

#gallery-photos>img {
    width: 100%;
    padding: 2px;
    border: 2px solid var(--object-border-color);
    border-radius: 2px;
    box-shadow: 0 0 10px var(--object-border-color);
    box-sizing: border-box;
}

/* courses */

#course-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    width: 80%;
    padding: 20px;
    background-color: var(--object-background-color);
    box-shadow: 0 0 10px var(--object-border-color);
    border-radius: 10px;
}

#course-times {
    background-image: url(../images/courses-background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    flex-grow: 2;
}

#course-times>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    height: 140px;
    padding: 1vw;
    box-sizing: border-box;
}

.border-b-10px {
    border-bottom: 10px solid var(--object-background-color);
}

#google-map {
    flex-grow: 1;
}

iframe {
    width: 100%;
    height: 100%;
}

/* sign up and donate */

#sign-up-donate h3 span {
    font-size: 80%;
    margin: 0 50px;
}

#form-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2vw;
    margin-top: 50px;
}

.fieldset-outer {
    display: flex;
    flex-direction: column;
    padding: 30px 2vw;
    background-color: var(--object-background-color);
    border: 1px solid var(--object-border-color);
    border-radius: 20px;
    box-shadow: 0 0 3px var(--object-border-color);
}

.fieldset-outer legend {
    margin-bottom: 40px;
    font-size: 180%;
    font-weight: 700;
}

.legend-emphasis {
    font-size: 120%;
    text-transform: uppercase;
}

.form-box {
    display: flex;
    flex-direction: column;
    width: 360px;
}

input[type=text],
input[type=email],
#donation-object {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    font-family: inherit;
}

.form-box input:hover,
#donation-object:hover {
    border: 1px solid var(--object-border-color);
    padding-left: 5px;
    box-sizing: border-box;
}

.form-box input:focus,
#donation-object:focus {
    border: 2px solid var(--object-border-color);
    box-shadow: 0 0 3px var(--object-border-color);
    box-sizing: border-box;
    padding-left: 5px;
}

#select-course {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5vh;
    margin-bottom: 20px
}

.form-box>label,
.form-box>span {
    margin-bottom: 5px;
    font-weight: 700;
}

#donation-description {
    border-radius: 5px;
    resize: none;
    font-family: inherit;
    padding: 5px;
    margin-bottom: 20px;
}

/* image upload */

#file-button {
    margin-bottom: 20px;
}

#file-button:hover {
    padding: 0;
    border: none;
}

input::file-selector-button {
    height: 50px;
    width: 50%;
    font-size: 120%;
    background-color: var(--text-heading-color);
    color: var(--object-background-color);
    border: none;
    border-radius: 5px;
}

input::file-selector-button:hover {
    font-size: 130%;
    box-shadow: 0 0 3px var(--object-border-color);
}

input::file-selector-button:active {
    font-size: 140%;
    box-shadow: 0 0 3px var(--object-border-color);
}

/* form submit buttons */

input[type=submit] {
    height: 50px;
    font-size: 120%;
    background-color: var(--text-heading-color);
    color: var(--object-background-color);
    border: none;
    border-radius: 5px;
}

input[type=submit]:hover {
    outline: none;
    border: none;
    padding: 0;
    font-size: 130%;
    box-shadow: 0 0 3px var(--object-border-color);
}

input[type=submit]:active {
    outline: none;
    border: none;
    padding: 0;
    font-size: 140%;
    box-shadow: 0 0 3px var(--object-border-color);
}

/* footer */

footer {
    background-color: var(--object-background-color);
    min-height: 200px;
    margin-top: 100px;
    display: flex;
}

#footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#footer-container>div {
    width: 640px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-back-to-top>p {
    text-align: center;
    font-size: 180%;
    color: var(--text-color);
}

#footer-back-to-top i {
    font-size: 2.5rem;
    white-space: nowrap;
}

#footer-social-media {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#footer-social-media i {
    color: var(--text-color);
    font-size: 2.5rem;
}

footer ul {
    list-style: none;
}

#newsletter {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#newsletter>input[type=email],
#newsletter>input[type=submit] {
    height: 40px;
}

#newsletter input:hover {
    border: 1px solid var(--object-border-color);
    padding-left: 5px;
    box-sizing: border-box;
}

#newsletter input:focus {
    border: 2px solid var(--object-border-color);
    box-shadow: 0 0 3px var(--object-border-color);
    box-sizing: border-box;
    padding-left: 5px;
}

/* thank you pages for signup, donation and newsletter */

#thank-you-body {
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#thank-you-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 800px;
    height: 500px;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--object-background-color);
    box-shadow: 0 0 10px var(--object-border-color);
    border-radius: 10px;
}

#thank-you-logo {
    width: 760px;
    font-size: 400%;
    font-weight: 800;
    letter-spacing: 10px;
    text-align: center;
    padding: 15px 0;
    border: 2px solid var(--text-heading-color);
}

#thank-you-logo-slogan {
    position: relative;
    right: 24px;
    top: -15px;
    font-size: 20px;
    text-transform: lowercase;
    float: right;
    background-color: var(--object-background-color);
}

#thank-you-text-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#thank-you-go-back i {
    margin-right: 16px;
}

#thank-you-text {
    font-size: 240%;
    align-self: center;
    font-weight: 600;
}

#thank-you-go-back {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#thank-you-go-back a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 150%;
}

/* media query */

/* Styles for screens 320px to 767px */
@media screen and (min-width: 320px) and (max-width: 767px) {

    /* general */

    body {
        max-width: 767px;
    }

    h3 {
        font-size: 240%;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    p {
        font-size: 130%;
    }

    .container {
        padding: 10px;
        scroll-margin-top: 4vh;
    }

    /* logo */

    #logo {
        display: flex;
        justify-content: center;
        font-size: 180%;
        letter-spacing: 2px;
        padding: 15px 4vw;
    }

    #logo-slogan {
        position: relative;
        right: 2vw;
        top: -9px;
        font-size: 12px;
    }

    /* navigation */

    #menu ul {
        margin: 0;
        gap: 0;
    }

    #menu i {
        margin-right: 0;
    }

    .nav-hidden {
        display: none;
    }

    /* nav menu animation */

    #menu a:hover {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        animation: none;
    }

    #menu a:active {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        animation: none;
    }

    /* hero image */

    #hero-outer {
        height: 300px;
    }

    #hero-image {
        height: 300px;
        background-position: center;
        background-size: cover;
    }

    /* slogan on hero image */

    #slogan-container {
        justify-content: flex-end;
    }

    #slogan-container h2 {
        font-size: 360%;
        letter-spacing: 4px;
    }

    /* what we do & why we do it */

    .what-why-caption {
        font-size: 160%;
        text-align: left;
    }

    .what-text-box {
        max-width: 100%;
    }

    #what-center-image {
        width: 100%;
    }

    #what-image {
        background-size: cover;
    }

    /* about us */

    #about-us-container {
        width: 100%;
    }

    #meet-the-team-caption {
        text-align: center;
    }

    #about-us-team-container {
        flex-direction: column;
    }

    .about-us-team-box {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .team-images {
        width: 100%;
        height: auto;
    }

    /* gallery */

    #gallery-photos {
        column-count: 1;
    }

    /* courses */

    #course-container {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }

    iframe {
        height: 300px;
    }

    /* sign up and donate */

    #form-container {
        display: flex;
        flex-direction: column;
    }

    .form-box {
        width: 100%;
    }

    #donation-description {
        width: 100%;
        padding: 0;
    }

    /* thank you pages for signup, donation and newsletter */

    #thank-you-body {
        box-shadow: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
    }

    #thank-you-container {
        width: 90vw;
        height: 360px;
    }

    #thank-you-logo {
        width: 100%;
        font-size: 120%;
        font-weight: 900;
        letter-spacing: 4px;
        text-align: center;
        padding: 8px 4px;
        box-sizing: border-box;
    }

    #thank-you-logo-slogan {
        right: 2vw;
        top: -8px;
        font-size: 12px;
    }

    #thank-you-go-back i {
        margin-right: 16px;
    }

    #thank-you-text {
        font-size: 120%;
        font-weight: 900;
    }

    #thank-you-go-back {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #thank-you-go-back a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 100%;
    }
}

/* Styles for screens 768px to 1439px */
@media screen and (min-width: 768px) and (max-width: 1439px) {

    /* general */

    body {
        max-width: 1439px;
    }

    h3 {
        font-size: 280%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    p {
        font-size: 130%;
    }

    .container {
        padding: 10px;
        scroll-margin-top: 3vh;
    }

    /* logo */

    #logo {
        display: flex;
        justify-content: center;
        font-size: 320%;
        letter-spacing: 2px;
        padding: 15px 16vw;
    }

    #logo-slogan {
        position: relative;
        right: 16vw;
        top: -13px;
        font-size: 18px;
    }

    /* navigation */

    #menu ul {
        margin: 0;
        gap: 0;
    }

    #menu i {
        margin-right: 0;
    }

    .nav-hidden {
        display: none;
    }

    /* nav menu animation */

    #menu a:hover {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        animation: none;
    }

    #menu a:active {
        background-color: rgba(255, 255, 255, 0);
        box-shadow: none;
        animation: none;
    }

    /* hero image */

    #hero-outer {
        height: 400px;
    }

    #hero-image {
        height: 400px;
        background-position: center;
        background-size: cover;
    }

    /* slogan on hero image */

    #slogan-container {
        justify-content: flex-end;
    }

    #slogan-container h2 {
        font-size: 400%;
        letter-spacing: 4px;
    }

    /* what we do & why we do it */

    #what-container {
        flex-direction: column;
    }

    .what-inner-container {
        flex-direction: row;
    }

    .what-why-caption {
        font-size: 160%;
        text-align: left;
        padding-right: 100px;
    }

    /* about us */

    #about-us-container {
        width: 100%;
    }

    #meet-the-team-caption {
        text-align: center;
    }

    #about-us-team-container {
        flex-direction: row;
    }

    .about-us-team-box {
        flex-direction: row;
        flex-wrap: nowrap;
        min-width: 560px;
    }

    .team-images {
        width: 100%;
        height: auto;
    }

    /* gallery */

    #gallery-photos {
        column-count: 2;
    }

    /* courses */

    #course-container {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }

    iframe {
        height: 400px;
    }

    /* sign up and donate */

    #form-container {
        display: flex;
        flex-direction: column;
    }

    .form-box {
        width: 100%;
    }

    #donation-description {
        width: 100%;
        padding: 0;
    }

    /* thank you pages for signup, donation and newsletter */

    #thank-you-container {
        width: 692px;
    }

    #thank-you-logo {
        width: 100%;
        font-size: 360%;
        font-weight: 900;
        letter-spacing: 6px;
        padding: 8px 20px;
        box-sizing: border-box;
    }

    #thank-you-logo-slogan {
        right: 20px;
        top: -14px;
    }
}

/* Styles for screens 1440px to 1919px */
@media screen and (min-width: 1440px) and (max-width: 1919px) {

    /* general */

    body {
        max-width: 1919px;
    }

    /* logo  */

    #logo {
        padding: 15px 300px;
    }

    #logo-slogan {
        right: 300px;
    }

    /* navigation */

    #menu i {
        margin-right: 12px;
    }

    /* what we do & why we do it */

    #what-container {
        flex-direction: column;
    }

    .what-inner-container {
        flex-direction: row;
    }

    /* about us */

    #about-us-container {
        width: 100%;
    }

    #meet-the-team-caption {
        text-align: center;
    }

    #about-us-team-container {
        flex-direction: row;
    }

    /* gallery */

    #gallery-photos {
        column-count: 3;
    }
}