@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto Condensed, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}